<div style="width:300px;height:100px; margin:0 auto;">
    <span style="text-align:center;">HEADER</span>
</div>
<div style="width:300px; margin: 0 auto;">
    <form method="get" action="">
        <div>
            回复<input type="text" name="content" > <button>提交</button>
        <div>
    </form>
    <table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>用户ID</th>
            <th>留言</th>
            <th>发布时间</th>
        </tr>
    </thead>
    <tbody>
    {% if comments %}
        {% for v in comments %}
        <tr>
            <td></td>
            <td>{{ v.user_id }}</td>
            <td>
                <a href="{% url 'detail' v.id %}">
                    {{ v.content }}
                </a>
            </td>
            <td>{{ v.add_time }}</td>
        </tr>
        {% endfor %}
    {% endif %}       
    </tbody>
    </table>
</div>
